body{
    direction: rtl;
    text-align: right;
    background-color: rgb(216,213,244);

}

@font-face {
    font-family: artfont;
    src: url('font/fontawesome-webfont.ttf');

}

#mainNav {
    background-color: rgb(78,43,100);

}

#navbarResponsive{
    transition: 0.5s;
}

#pageTopNav{
    transition: 0.5s;
}
#searchbox{
    margin-left: 5px;
}
#searchbutton{
    color: white;
    border-color: white;
}
#headerImg{
    max-width: 100%;
    max-height: 1000px;
    height:500px;

    margin: 0 0 0 0;
}

#about{
    color: rgb(15,13,62);
    margin-top: 0px;
}

#peopleScroll{
    overflow-x: scroll;

}
#peopleScroll .col-4{
    background-color: snow;
    height: 250px;
}

#sendMessageButton{
    background-color:rgb(78,43,100) ;
    color: white;
    transition: all 0.5s;
}

#sendMessageButton:hover span:after{
    opacity: 1;
    right: 0;
}

#sendMessageButton:hover span {
    padding-right: 25px;
}

#sendMessageButton span{
    transition: 0.5s;
}

#sendMessageButton span:after{
    transition: 0.5s;
}
@media screen and (max-width:575.98px){

}

@media screen and (min-width:576px) and (max-width:767.98px){

}

@media screen and (min-width:768px) and (max-width:991.98px){

}

@media screen and (min-width:992px) and (max-width:1199.98px){

}

@media screen and (min-width:1200px){

}
